.main {
  display: flex;
  flex-direction: column; /* stack rows vertically */
  align-items: center;
  --s: 80px; /* size of hex */
  --m: 2px; /* margin */
}

.container {
  font-size: 0;
  margin-bottom: 0; /* vertical spacing between rows */
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: teal;
}

.offset {
  margin-left: calc(var(--s) / 2 + var(--m));
}
